n8n/cashflow_risk_alerts.json
{
  "name": "Cash Flow - Alerting Engine",
  "nodes": [
    {
      "parameters": {
        "mode": "everyDay",
        "hour": 4,
        "minute": 0
      },
      "id": "cron-alert",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "tableId": "forecast_runs",
        "useCustomSchema": false,
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "company_id",
              "keyValue": "=11111111-1111-1111-1111-111111111111"
            }
          ]
        }
      },
      "id": "get-runs",
      "name": "Get Forecast Runs",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        400
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\n\nitems = _input.all()\nruns = [item['json'] for item in items]\nlatest_run = None\nlatest_time = None\nfor run in runs:\n    run_at = run.get('run_at')\n    if not run_at:\n        continue\n    try:\n        dt = datetime.fromisoformat(run_at)\n    except Exception:\n        # Fallback if run_at has no timezone\n        try:\n            dt = datetime.strptime(run_at, '%Y-%m-%dT%H:%M:%S')\n        except Exception:\n            continue\n    if latest_time is None or dt > latest_time:\n        latest_time = dt\n        latest_run = run\n\nif latest_run:\n    output = {\n        'run_id': latest_run.get('id'),\n        'company_id': latest_run.get('company_id')\n    }\n    return [{'json': output}]\nelse:\n    # No runs found; return no items\n    return []\n"
      },
      "id": "find-latest-run",
      "name": "Find Latest Run",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        600
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "getAll",
        "tableId": "daily_forecasts",
        "useCustomSchema": false,
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "run_id",
              "keyValue": "={{ $json.run_id }}"
            }
          ]
        }
      },
      "id": "get-forecasts",
      "name": "Get Daily Forecasts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        800
      ]
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "from datetime import datetime\n\nitems = _input.all()\nif not items:\n    return []\nforecast_rows = [item['json'] for item in items]\nforecast_rows_sorted = sorted(forecast_rows, key=lambda x: x['date'])\ncompany_id = forecast_rows_sorted[0]['company_id']\nrun_id = forecast_rows_sorted[0]['run_id']\nbase_zero_day = None\nworst_zero_day = None\nfor row in forecast_rows_sorted:\n    date_str = row['date']\n    date = datetime.fromisoformat(date_str).date()\n    base_cb = float(row.get('base_closing_balance', 0))\n    worst_cb = float(row.get('worst_closing_balance', 0))\n    if base_zero_day is None and base_cb < 0:\n        base_zero_day = date\n    if worst_zero_day is None and worst_cb < 0:\n        worst_zero_day = date\ntoday = datetime.utcnow().date()\nalerts = []\nif base_zero_day:\n    base_runway_days = (base_zero_day - today).days\n    if base_runway_days < 60:\n        alerts.append({\n            'alert_type': 'runway_below_threshold',\n            'severity': 'warning',\n            'message': f'Base-case runway is {base_runway_days} days (zero day: {base_zero_day.isoformat()})',\n            'details': {'base_zero_day': base_zero_day.isoformat(), 'base_runway_days': base_runway_days}\n        })\nif worst_zero_day:\n    worst_runway_days = (worst_zero_day - today).days\n    if worst_runway_days < 60:\n        alerts.append({\n            'alert_type': 'runway_below_threshold_worst',\n            'severity': 'warning',\n            'message': f'Worst-case runway is {worst_runway_days} days (zero day: {worst_zero_day.isoformat()})',\n            'details': {'worst_zero_day': worst_zero_day.isoformat(), 'worst_runway_days': worst_runway_days}\n        })\n\noutputs = []\nfor alert in alerts:\n    item = {\n        'company_id': company_id,\n        'forecast_run_id': run_id,\n        'alert_type': alert['alert_type'],\n        'severity': alert['severity'],\n        'message': alert['message'],\n        'details': alert['details']\n    }\n    outputs.append({'json': item})\nreturn outputs\n"
      },
      "id": "compute-alerts",
      "name": "Compute Alerts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        1000
      ]
    },
    {
      "parameters": {
        "resource": "database",
        "operation": "create",
        "tableId": "alert_events",
        "useCustomSchema": false,
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "company_id",
              "fieldValue": "={{ $json.company_id }}"
            },
            {
              "fieldId": "forecast_run_id",
              "fieldValue": "={{ $json.forecast_run_id }}"
            },
            {
              "fieldId": "alert_type",
              "fieldValue": "={{ $json.alert_type }}"
            },
            {
              "fieldId": "severity",
              "fieldValue": "={{ $json.severity }}"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "details",
              "fieldValue": "={{ $json.details }}"
            }
          ]
        }
      },
      "id": "insert-alerts",
      "name": "Insert Alerts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        200,
        1200
      ]
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get Forecast Runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Forecast Runs": {
      "main": [
        [
          {
            "node": "Find Latest Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Latest Run": {
      "main": [
        [
          {
            "node": "Get Daily Forecasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Forecasts": {
      "main": [
        [
          {
            "node": "Compute Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Alerts": {
      "main": [
        [
          {
            "node": "Insert Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {}
}

